/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
.encabezado{
    text-align: center;
    background-color: gray;
    font-weight: bold;
    color: #CCC;
    margin: 0 auto;
    padding: 1em;
}