<div class="container">
    <div class="row">
        <div class="col-sm">
            <label for="inputServer">Server Name</label>
            <input type="text" name="inputServer" class="form-control"
            (input)="onUpdateServerName($event)"
            [(ngModel)] = "serverName">
            <button 
                class="btn btn-primary"
                [disabled] = "!serversAllowed"
                (click)= "onServerCreation()">
                Add New Server
            </button>
            <p *ngIf="serverCreated; else noServerCreated">Server status : {{serverCreationStatus}}. Server Name {{serverName}}</p>
            <ng-template #noServerCreated>
                <p>{{serverCreationStatus}}</p>
            </ng-template>
        </div>
        <div class="col-sm">
            <app-server></app-server>
            <app-server></app-server>
        </div>
    </div>
</div>